<h2 align="center",><strong>TALLER 2</strong> </h2>

- Objetivo: evaluar las capacidades del estudiante para aplicar técnicas de machine learning, las 
cuales permita descubrir insights, sugerir accionables al negocio y calcular el valor ganado.

### **Integrantes**:

1.  Carlos Garcia
2.  Mateo Parra - 202213933

### **Introduccion**:

- En este notebook se va llevar a cabo el taller numero 2 del curso ciencia de datos aplicada. A lo largo del notebook se abarcarn las     diferentes etapas requeridas en el enunciado, desde el entendimiento de los datos hasta las conclusiones y los insights.

### **Librerias**:

In [1]:
%pip install scikit-learn

import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
import matplotlib.pyplot as plt

Requirement already satisfied: scikit-learn in d:\apps\coding\lib\site-packages (1.6.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.19.5 in d:\apps\coding\lib\site-packages (from scikit-learn) (2.1.3)
Requirement already satisfied: scipy>=1.6.0 in d:\apps\coding\lib\site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in d:\apps\coding\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in d:\apps\coding\lib\site-packages (from scikit-learn) (3.5.0)

### **Carga De Datos**:

In [ ]:
df = pd.read_csv('../data/apartamentos.csv')

### **Entendimeitno Inicial**:

In [14]:
print(df.shape)
df.head(3)

(43013, 46)

,_id,codigo,tipo_propiedad,tipo_operacion,precio_venta,area,habitaciones,banos,administracion,parqueaderos,...,vigilancia,coords_modified,localidad,barrio,estacion_tm_cercana,distancia_estacion_tm_m,is_cerca_estacion_tm,parque_cercano,distancia_parque_m,is_cerca_parque
0,66d86c7eceda690e85508760,4133491,APARTAMENTO,VENTA,339000000.0,76.0,3.0,2.0,300000.0,1.0,...,0.0,False,SUBA,URB. PICADELLY,Toberin - Foundever,1142.45,0,PARQUE VECINAL DESARROLLO CANTALEJO URBANIZACI...,426.09,1
1,66d86c7eceda690e85508761,3889852,APARTAMENTO,VENTA,223000000.0,63.0,3.0,2.0,NaN,0.0,...,0.0,False,USAQUEN,BARRANCAS PERLAS DEL NORTE,Mazurén,2384.89,0,PARQUE ZONAL ALTA BLANCA,472.47,1
2,66d86c7eceda690e85508762,4386770,APARTAMENTO,VENTA,440898168.0,54.0,3.0,2.0,305000.0,0.0,...,0.0,False,LOS MARTIRES,SAN VICTORINO,De La Sabana,232.22,1,PARQUE METROPOLITANO TERCER MILENIO,961.29,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43013 entries, 0 to 43012
Data columns (total 46 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      43013 non-null  object
 1   codigo                   43013 non-null  object
 2   tipo_propiedad           43013 non-null  object
 3   tipo_operacion           43013 non-null  object
 4   precio_venta             27584 non-null  float64
 5   area                     43013 non-null  float64
 6   habitaciones             43012 non-null  float64
 7   banos                    43012 non-null  float64
 8   administracion           35088 non-null  float64
 9   parqueaderos             43012 non-null  float64
 10  sector                   41372 non-null  object
 11  estrato                  43012 non-null  float64
 12  antiguedad               43003 non-null  object
 13  latitud                  43013 non-null  float64
 14  longitud                 43013 non-null  float64
 15  direccion                794 non-null    object
 16  descripcion              43013 non-null  object
 17  website                  43011 non-null  object
 18  last_view                43011 non-null  object
 19  datetime                 43011 non-null  object
 20  url                      794 non-null    object
 21  timeline                 29427 non-null  object
 22  estado                   42217 non-null  object
 23  compañia                 38483 non-null  object
 24  precio_arriendo          15829 non-null  float64
 25  jacuzzi                  43011 non-null  float64
 26  piso                     0 non-null      float64
 27  closets                  0 non-null      float64
 28  chimenea                 43011 non-null  float64
 29  permite_mascotas         43011 non-null  float64
 30  gimnasio                 43011 non-null  float64
 31  ascensor                 43011 non-null  float64
 32  conjunto_cerrado         43011 non-null  float64
 33  piscina                  43011 non-null  float64
 34  salon_comunal            43011 non-null  float64
 35  terraza                  43011 non-null  float64
 36  vigilancia               43011 non-null  float64
 37  coords_modified          43013 non-null  bool
 38  localidad                43013 non-null  object
 39  barrio                   42820 non-null  object
 40  estacion_tm_cercana      43013 non-null  object
 41  distancia_estacion_tm_m  43013 non-null  float64
 42  is_cerca_estacion_tm     43013 non-null  int64
 43  parque_cercano           43013 non-null  object
 44  distancia_parque_m       43013 non-null  float64
 45  is_cerca_parque          43013 non-null  int64
dtypes: bool(1), float64(24), int64(2), object(19)
memory usage: 14.8+ MB

In [17]:
df.select_dtypes(include=['number'])

,precio_venta,area,habitaciones,banos,administracion,parqueaderos,estrato,latitud,longitud,precio_arriendo,...,ascensor,conjunto_cerrado,piscina,salon_comunal,terraza,vigilancia,distancia_estacion_tm_m,is_cerca_estacion_tm,distancia_parque_m,is_cerca_parque
0,3.390000e+08,76.00,3.0,2.0,300000.0,1.0,3.0,4.746592,-74.057571,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,1142.45,0,426.09,1
1,2.230000e+08,63.00,3.0,2.0,NaN,0.0,3.0,4.730111,-74.028170,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,2384.89,0,472.47,1
2,4.408982e+08,54.00,3.0,2.0,305000.0,0.0,3.0,4.607378,-74.082648,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,232.22,1,961.29,0
3,1.580000e+08,43.00,2.0,2.0,106600.0,0.0,2.0,4.740109,-74.113675,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,2275.08,0,539.98,0
4,2.228000e+08,48.00,3.0,2.0,151000.0,0.0,3.0,4.763900,-74.025280,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,2099.16,0,1661.14,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43008,1.900000e+08,49.00,3.0,2.0,204624.0,0.0,2.0,4.754530,-74.080902,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,1712.71,0,198.03,1
43009,3.220000e+08,66.00,3.0,2.0,277400.0,1.0,4.0,4.742568,-74.092140,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,120.16,1,631.25,0
43010,3.300000e+08,90.00,3.0,2.0,112000.0,0.0,4.0,4.630547,-74.079590,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,33.21,1,1211.62,0
43011,1.280000e+09,157.00,3.0,3.0,1050000.0,3.0,6.0,4.702636,-74.027180,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,3005.88,0,1269.56,0
43012,4.980000e+08,84.34,3.0,2.0,287000.0,1.0,4.0,4.620531,-74.130990,NaN,...,1.0,0.0,1.0,0.0,0.0,0.0,1022.07,0,648.01,0

In [18]:
df.select_dtypes(include=['object'])

,_id,codigo,tipo_propiedad,tipo_operacion,sector,antiguedad,direccion,descripcion,website,last_view,datetime,url,timeline,estado,compañia,localidad,barrio,estacion_tm_cercana,parque_cercano
0,66d86c7eceda690e85508760,4133491,APARTAMENTO,VENTA,BRITALIA,ENTRE 10 Y 20 ANOS,CARRERA 55A # 163-35,"apartamento en venta de 76m2, con vista exteri...",habi.co,2024-08-13 10:34:47.315,2024-07-03 23:27:30.843,https://habi.co/page-data/venta-apartamentos/1...,[{'fecha': {'$date': '2024-07-03T23:27:30.843Z...,NaN,NaN,SUBA,URB. PICADELLY,Toberin - Foundever,PARQUE VECINAL DESARROLLO CANTALEJO URBANIZACI...
1,66d86c7eceda690e85508761,3889852,APARTAMENTO,VENTA,SAN CRISTOBAL NORTE,MAS DE 20 ANOS,CARRERA 7F # 153 - 75,"apartamento en venta de 60m2, con vista interi...",habi.co,2024-09-03 23:46:46.547,2024-07-03 23:27:31.667,https://habi.co/page-data/venta-apartamentos/1...,[],NaN,NaN,USAQUEN,BARRANCAS PERLAS DEL NORTE,Mazurén,PARQUE ZONAL ALTA BLANCA
2,66d86c7eceda690e85508762,4386770,APARTAMENTO,VENTA,LA SABANA,ENTRE 0 Y 5 ANOS,CARRERA 69C #2 - 60,"apartamento en venta de 54m2, con vista exteri...",habi.co,2024-07-10 18:19:39.749,2024-07-03 23:27:31.886,https://habi.co/page-data/venta-apartamentos/1...,[],NaN,NaN,LOS MARTIRES,SAN VICTORINO,De La Sabana,PARQUE METROPOLITANO TERCER MILENIO
3,66d86c7eceda690e85508763,4210060,APARTAMENTO,VENTA,TIBABUYES,ENTRE 10 Y 20 ANOS,CALLE 131C # 126-95,"apartamento en venta de 43 m2, con vista inter...",habi.co,2024-07-10 18:19:03.061,2024-07-03 23:27:32.141,https://habi.co/page-data/venta-apartamentos/1...,[],NaN,NaN,SUBA,LA ESTRELLA II,Portal Suba,PARQUE ZONAL LA GAITANA
4,66d86c7eceda690e85508764,4063762,APARTAMENTO,VENTA,VERBENAL,MAS DE 20 ANOS,CARRERA 5 # 187-15,"apartamento duplex en venta de 48m2, con vista...",habi.co,2024-09-03 23:46:46.592,2024-07-03 23:27:32.361,https://habi.co/page-data/venta-apartamentos/1...,[],NaN,NaN,USAQUEN,HORIZONTES USAQUEN,Terminal,PARQUE VECINAL DESARROLLO VERBENAL I
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43008,66d86ebfceda690e85512f60,4323513,APARTAMENTO,VENTA,SUBA,ENTRE 10 Y 20 ANOS,CALLE 157A # 92 - 06,"apartamento en venta de 49m2, con vista interi...",habi.co,2024-09-03 23:46:41.728,2024-09-03 23:46:41.728,https://habi.co/page-data/venta-apartamentos/1...,NaN,NaN,NaN,SUBA,URB. OVIEDO,Portal Suba,PARQUE ZONAL CAMPO VERDE
43009,66d86ebfceda690e85512f61,4345085,APARTAMENTO,VENTA,EL RINCON,ENTRE 10 Y 20 ANOS,CARRERA 100A # 141 - 10,"apartamento en venta de 61m2, con vista interi...",habi.co,2024-09-03 23:46:50.032,2024-09-03 23:46:50.032,https://habi.co/page-data/venta-apartamentos/1...,NaN,NaN,NaN,SUBA,LOS TEJARES DE SUBA (PREDIO),La Campiña,PARQUE ZONAL BELLAVISTA DINDALITO
43010,66d86ebfceda690e85512f62,MC5206960,APARTAMENTO,VENTA,LA SOLEDAD,MAS DE 20 ANOS,NaN,!oportunidad! apartamento de 90m2 con excelent...,metrocuadrado.com,2024-09-03 23:48:31.409,2024-09-03 23:48:31.409,NaN,NaN,USADO,NaN,TEUSAQUILLO,LAS AMERICAS,AV. ElDorado,PARQUE METROPOLITANO EL RENACIMIENTO - PARQUE ...
43011,66d86ebfceda690e85512f63,MC5203688,APARTAMENTO,VENTA,SANTA BARBARA,MAS DE 20 ANOS,NaN,vendo hermoso apartamento en altos de bella su...,metrocuadrado.com,2024-09-03 23:48:43.985,2024-09-03 23:48:43.985,NaN,NaN,USADO,NaN,USAQUEN,S.C. SAN NORTE,Calle 127,PARQUE METROPOLITANO EL COUNTRY
43012,66d86ebfceda690e85512f64,MC4721977,APARTAMENTO,VENTA,KENNEDY,ENTRE 10 Y 20 ANOS,NaN,"vista exterior piso 11, conjunto club house, p...",metrocuadrado.com,2024-09-03 23:49:02.032,2024-09-03 23:49:02.032,NaN,NaN,USADO,NaN,KENNEDY,HIPOTECHO OCCIDENTAL II,Marsella,PARQUE ZONAL LA IGUALDAD